<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All diets
    </h1>

    <a href="/diets/new" class="btn btn-block btn-outline-secondary">
      Add a new diet
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "diet_templates/diets_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Food
        </th>

        <th>
          Diet name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @diets.each do |diet| %>
      <tr>
        <td>
          <%= diet.id %>
        </td>

        <td>
          <% if diet.food.present? %>
            <a href="/foods/<%= diet.food.id %>">
              <%= diet.food.food_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= diet.diet_name %>
        </td>

        <td>
          <%= time_ago_in_words(diet.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(diet.updated_at) %> ago
        </td>

        <td>
          <a href="/diets/<%= diet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @diets, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
