<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Diet #<%= @diet.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/diets" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/diets/<%= @diet.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit diet
        </a>
      </div>

      <div class="col">
        <a href="/delete_diet/<%= @diet.id %>" class="btn btn-block btn-outline-secondary">
          Delete diet
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Food
      </dt>
      <dd>
        <% if @diet.food.present? %>
          <a href="/foods/<%= @diet.food_id %>">
            <%= @diet.food.food_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Diet name
      </dt>
      <dd>
        <%= @diet.diet_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@diet.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@diet.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

