<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Food #<%= @food.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/foods" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/foods/<%= @food.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit food
        </a>
      </div>

      <div class="col">
        <a href="/delete_food/<%= @food.id %>" class="btn btn-block btn-outline-secondary">
          Delete food
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Food name
      </dt>
      <dd>
        <%= @food.food_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@food.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@food.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "food_templates/food_diets" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "food_templates/food_food_diets" %>
  </div>
</div>
