<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All food diets
    </h1>

    <a href="/food_diets/new" class="btn btn-block btn-outline-secondary">
      Add a new food diet
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "food_diet_templates/food_diets_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Food
        </th>

        <th>
          Diet
        </th>

        <th>
          Compliant
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @food_diets.each do |food_diet| %>
      <tr>
        <td>
          <%= food_diet.id %>
        </td>

        <td>
          <%= food_diet.food_id %>
        </td>

        <td>
          <% if food_diet.diet.present? %>
            <a href="/diets/<%= food_diet.diet.id %>">
              <%= food_diet.diet.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <%= food_diet.compliant %>
        </td>

        <td>
          <%= time_ago_in_words(food_diet.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(food_diet.updated_at) %> ago
        </td>

        <td>
          <a href="/food_diets/<%= food_diet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @food_diets, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
