<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All food diets
    </h1>

    <a href="/food_diets/new" class="btn btn-block btn-outline-secondary">
      Add a new food diet
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Food
        </th>

        <th>
          Diet
        </th>

        <th>
          Compliant
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @food_diets.each do |food_diet| %>
      <tr>
        <!-- Display food_diet.id start -->
        <td>
          <%= food_diet.id %>
        </td>
        <!-- Display food_diet.id end -->

        <!-- Display food_diet.food_id start -->
        <td>
          <%= food_diet.food_id %>
        </td>
        <!-- Display food_diet.food_id end -->

        <!-- Display food_diet.diet_id start -->
        <td>
          <%= food_diet.diet.created_at %>
        </td>
        <!-- Display food_diet.diet_id end -->

        <!-- Display food_diet.compliant start -->
        <td>
          <%= food_diet.compliant %>
        </td>
        <!-- Display food_diet.compliant end -->

        <!-- Display food_diet.created_at start -->
        <td>
          <%= time_ago_in_words(food_diet.created_at) %> ago
        </td>
        <!-- Display food_diet.created_at end -->

        <!-- Display food_diet.updated_at start -->
        <td>
          <%= time_ago_in_words(food_diet.updated_at) %> ago
        </td>
        <!-- Display food_diet.updated_at end -->

        <td>
          <a href="/food_diets/<%= food_diet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @food_diets, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
