<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Food diet #<%= @food_diet.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/food_diets" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/food_diets/<%= @food_diet.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit food diet
        </a>
      </div>

      <div class="col">
        <a href="/delete_food_diet/<%= @food_diet.id %>" class="btn btn-block btn-outline-secondary">
          Delete food diet
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Food
      </dt>
      <dd>
        <%= @food_diet.food_id %>
      </dd>

      <dt>
        Diet
      </dt>
      <dd>
        <% if @food_diet.diet.present? %>
          <a href="/diets/<%= @food_diet.diet_id %>">
            <%= @food_diet.diet.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Compliant
      </dt>
      <dd>
        <%= @food_diet.compliant %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@food_diet.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@food_diet.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "food_diet_templates/food_diet_food" %>
  </div>
</div>
