<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Food diet #<%= @food_diet.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/food_diets" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link food_diet start -->
      <div class="col">
        <a href="/food_diets/<%= @food_diet.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit food diet
        </a>
      </div>
      <!-- Edit link food_diet end -->

      <!-- Delete link food_diet start -->
      <div class="col">
        <a href="/delete_food_diet/<%= @food_diet.id %>" class="btn btn-block btn-outline-secondary">
          Delete food diet
        </a>
      </div>
      <!-- Delete link food_diet end -->
    </div>

    <dl>
      <dt>
        Food
      </dt>
      <!-- Display food_id start -->
      <dd>
        <%= @food_diet.food_id %>
      </dd>
      <!-- Display food_id end -->

      <dt>
        Diet
      </dt>
      <!-- Display diet_id start -->
      <dd>
        <%= @food_diet.diet_id %>
      </dd>
      <!-- Display diet_id end -->

      <dt>
        Compliant
      </dt>
      <!-- Display compliant start -->
      <dd>
        <%= @food_diet.compliant %>
      </dd>
      <!-- Display compliant end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@food_diet.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@food_diet.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "food_diet_templates/food_diet_food" %>
  </div>
</div>
<!-- Show Page Customization end -->
